{% extends 'blog/base.html' %} {% block content %} {% if user.is_authenticated %}
<div
  class="container d-flex justify-content-center align-items-center min-vw-100 min-vh-100"
>
  <div class="card" style="min-width: 25rem; min-height: 25rem">
    <img
      src="{{blog.image_url}}"
      class="card-img-top mx-auto w-25 h-25"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Title : {{blog.title}}</h5>
      <p class="card-text">{{blog.body}}</p>
      <div class="d-flex">
        {% include 'blog/blog_like.html' %}
        
        {% include 'blog/blog_view.html' %}
        <div>
          <a href="{% url 'comment' blog.id %}"
          ><i class="fa-regular fa-comment mx-1" style="font-size: 2rem"></i
        ></a>
        
        {% if comment_count %}
        <p class="text-center">{{comment_count}}</p>
        {% endif %}
          
        </div>

      
      </div>

      {% if show %} {% include 'blog/blog_comments.html' %} {% endif %} 
      {% if comments %}
      <h4>Comments</h4>

      <div>
        {% for comment in comments %}

        <div class="my-2" style="border: 1px solid gray">
          <h6 class="card-title">Author : {{comment.author}}</h6>
          <p class="card-text blog-body">{{comment.comment}}</p>

        </div>

        {% endfor %} {% endif %}
      </div>

      {% if blog.author == user %}
      <div>
        <a href="{% url 'update' blog.id %}" class="btn btn-primary">Update</a>
        {% include 'blog/blog_delete.html' %}
      </div>

      {% endif %}
    </div>
  </div>
</div>
{% else %}
<p class="h4 text-center">Register or Login</p>
{% endif %} {% endblock content %}
