{% extends 'blog/base.html' %} {% block content %}
<div class="container min-vw-100 min-vh-100 bg-light mt-5">
  <div class="row p-5 mx-auto justify-content-center">
  {% for blog in blogs %}
    <div
      class="card col-lg-3 col-md-5 col-sm-8 col-12 m-3 p-3"
      style="min-width: 18rem; max-height: 23rem;"
    >
      <img
        src="{{blog.image_url}}"
        class="card-img-top mx-auto w-75 h-50"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text blog-body">{{blog.body}}</p>

        <a href="{% url 'details' blog.id %}" ><button class="btn btn-primary">Details</button></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
